* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  text-align: center;
}

.title {
  color: white;
  margin-top: 60px;
  text-align: center;
  font-family: Helvetica;
  font-size: 40px;
}

.container {
  height: 55vh;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.game {
  height: 45vmin;
  width: 45vmin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.box {
  height: 15vmin;
  width: 15vmin;
  border-radius: 5px;
  border-color: black black black black;
  background-color: #ffffff;
  font-size: 50px;
  cursor: pointer;
  color: black;
}

#player {
  color: hsl(142, 67%, 59%);
  padding-top: 50px;
  font-family: Helvetica;
}

.reset {
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
}
